@font-face {
    font-family: System; /* Имя шрифта */
    src: url(System.ttf); /* Путь к файлу со шрифтом */
   }

.menu {
 width: 100%;
 height: 130px;
/*border: 2px solid green;*/
/*Пока убираем рамку как меню имеет лишнее пространство справа*/
 margin: 0;
 list-style:none;
 position: relative;
 left: 15%;
}

/** Поворот кнопок **/
.ch-item {
  display: inline;
	width: 11.7%;
  float: left;
	height: 100%;
	-webkit-perspective: 900px;
	-moz-perspective: 900px;
	-o-perspective: 900px;
	-ms-perspective: 900px;
	perspective: 900px;
  position:relative;
}

.ch-info{
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
.ch-info > div {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	background-position: center center;
	-webkit-transition: all 0.4s linear;
	-moz-transition: all 0.4s linear;
	-o-transition: all 0.4s linear;
	-ms-transition: all 0.4s linear;
	transition: all 0.4s linear;
	-webkit-transform-origin: 50% 0%;
	-moz-transform-origin: 50% 0%;
	-o-transform-origin: 50% 0%;
	-ms-transform-origin: 50% 0%;
	transform-origin: 50% 0%;
}

.ch-info .ch-info-front {
	box-shadow: inset 0 0 0 1px rgba(0,0,0,0.3);
}

.ch-info .ch-info-back {
	-webkit-transform: translate3d(0,0,-220px) rotate3d(1,0,0,90deg);
	-moz-transform: translate3d(0,0,-220px) rotate3d(1,0,0,90deg);
	-o-transform: translate3d(0,0,-220px) rotate3d(1,0,0,90deg);
	-ms-transform: translate3d(0,0,-220px) rotate3d(1,0,0,90deg);
	transform: translate3d(0,0,-220px) rotate3d(1,0,0,90deg);
	background-image: url(img/top.png);
	opacity: 0;
}

.ch-img-1 { 
	background-image: url(img/main_page.png);
}

.ch-img-2 { 
	background-image: url(img/sword_connect.png);
}

.ch-img-3 { 
	background-image: url(img/map_minecraft.png);
}
.ch-img-4 { 
	background-image: url(img/face_reg.png);
}

.ch-img-5 { 
  background-image: url(img/dev_icon.png);
}

.ch-info h3 {
	color: #fff;
  text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 20px;
	padding: 15% 10%;
	height: 100%;
	font-family: System;
	text-shadow: 1px 1px 5px black, 0 0 10px #096315;
}

.ch-item:hover .ch-info-front {
	-webkit-transform: translate3d(0,150px,0) rotate3d(1,0,0,-90deg);
	-moz-transform: translate3d(0,150px,0) rotate3d(1,0,0,-90deg);
	-o-transform: translate3d(0,150px,0) rotate3d(1,0,0,-90deg);
	-ms-transform: translate3d(0,150px,0) rotate3d(1,0,0,-90deg);
	transform: translate3d(0,150px,0) rotate3d(1,0,0,-90deg);
	opacity: 0;
}

.ch-item:hover .ch-info-back {
	-webkit-transform: rotate3d(1,0,0,0deg);
	-moz-transform: rotate3d(1,0,0,0deg);
	-o-transform: rotate3d(1,0,0,0deg);
	-ms-transform: rotate3d(1,0,0,0deg);
	transform: rotate3d(1,0,0,0deg);
	opacity: 1;
}

/*------------------С моего сайта-----------------------------*/
body {background: url("img/new_back.png") no-repeat;
    background-position: top center;
    background-attachment: fixed;
    background-size: cover;
    background-color: black;
    margin: 0;
    position: relative; /* Чтобы футер прикреплялся к низу контента, а не к низу экрана */
    padding: 0;
    overflow-x: hidden;
}﻿
/*
html{
  margin: 0;
  padding: 0; 
}*/

.hhh {
   background: linear-gradient(to top, black, green);
   /*border: 1px solid black;
      width: 100%;
   */
   padding: 1px;
}

.logo1{
  text-align: center;
  background: url("../img/logo.png") center center no-repeat;
  background-size: contain; /*уменьшение лого*/
  height: 80px;
  /*margin: 20px;*/
  text-indent: -10000px;
}

/* Меню */
.nav{
    font-family: calibri, sans-serif; 
    font-weight: normal;
    background: linear-gradient(to top, green, black); 
    text-align: center;
    padding-top: 0; 
    padding-bottom: 0; 
    padding-left: 0;
	  width: 100%;
    margin-top: 0;
}

li /*текущая страница*/
{  
   text-align: center;
   display: inline-block; 
   width: 16.79%;
   margin-right:-0.3em;
   white-space: nowrap;
   height:36px;
   line-height:36px;
   border: 1px solid black;
   box-sizing:border-box;
}

li a{
  display: block;
     text-align: center; /* Выравнивание по центру */
     color: #98FB98; /* Цвет ссылки */
}

li:hover{
  background: linear-gradient(to top, #7FFF00, black);
}

/*доработать*/
.lon /*текущая страница*/
{ 
   /*font-family: calibri, sans-serif; 
   font-weight: normal;
   display:table-cell; 
   background:green; 
   padding:.5em; 
   text-align:center; 
   border:2px solid black; 
   background: green; /* Для старых браузров 
   background: linear-gradient(to top, #7FFF00, black);
   padding: 10px;
   border: 1px solid black;
   width:1%;
   white-space: nowrap;*/
   background: linear-gradient(to top, #7FFF00, black);
}

h1 {text-align:center;
color: yellow;
font-family: calibri, sans-serif; 
font-weight: bold;}

.news /* Новостной блок*/ 
{
    
    font-family: calibri, sans-serif; 
    color: white;
    width: 70%;
    margin: 1% 15%;
    background-color: black;
    border:7px  ridge green;
    display: block;
    text-align: justify;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
    
}

.news p{
    text-indent: 3%;
}

.screenshot{
padding-top: 2%;
padding-bottom: 2%;
padding-left: 5%;
padding-right: 2%;
width: 90%;
height: 40%;
z-index: 2;
}

.content
{
    margin: 10px 0px;
    background-color:#FFF;
    border: 1px solid; 

}

.logo {
  border: 0px;
  margin: 15% 0 0 auto;
}


a {color:  #98FB98; text-decoration:none;}

.box1 {
margin-top: 1%;
margin-left: 3%;
width:14%;
height:44%;
border:7px ridge green;
background-color:black;
float:left;
position: absolute; top: 20%;}

.box2
{
    cursor: pointer;
    display: block; 
    padding: 10px 10px 15px 10px;
    color: yellow;
    font-family: calibri, sans-serif; 
    font-weight: normal;
    width: 20%; 
    min-width: 100px;
    max-width: 300px;
    background-color: black;
    border:7px  ridge green;
    position: absolute;
    z-index: 99;
}

.box3
{
    text-align: center;
    cursor: pointer;
    display: block; 
    padding: 10px 10px 15px 10px;
    color: yellow;
    font-family: calibri, sans-serif; 
    font-weight: normal;
    width: 20%; 
    min-width: 100px;
    max-width: 300px;
    background-color: black;
    border:7px  ridge green;
    position: absolute;
    margin-left: 75%;
    z-index: 99;
}

/*Регистрация*/
.reg{
    font-family: calibri, sans-serif; 
    color: white;
    width: 40%;
    margin: 1% 29%;
    background-color: black;
    border:7px  ridge green;
    display: block;
    text-align: center;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
    padding-bottom: 20%;
}

.reg input{
    color: black;
}

.reg-link{
    display: inline-block; /* Строчно-блочный элемент */
    padding: 5px 10px; /* Добавляем поля */
    margin: 10px; 
    text-decoration: none; /* Убираем подчёркивание у ссылки */
    cursor: pointer; /* Курсор в виде руки */
    font: 12px/1 Arial, sans-serif; /* Рубленый шрифт */
   }

/*Футер*/
footer{
width: 100%;
background: linear-gradient(to top, black, green);
margin-left: 0;
clear:both; /*начинается с чистого места с обеих сторон*/
text-align: left;
}

footer p{
  text-align: center;
  font-size: 16px;
  color: yellow;
  padding: 20px;
  margin-bottom: 0;
}

.tex {position: relative;
top: 300px;}

.accent{
    color: yellow; 
    font-size: 17px;
}

/*Заголовок регистрации*/
#login {
    text-align: center;
    font-family: sans-serif; 
    font-weight: bold; 
    color: yellow;
    font-size: 20px;  
    }

/*Информация по регистрации*/
#success{
  font-size: 17px;
}

#regstyle{
  width: 150px; 
  height: 40px;
}

/*div .instruction {font-size: 13px; color: #98FB98;}*/


